extends layout

block content
  div(id="container")
    div(class="gutter-sizer")
    //- div(class="item") ryanseys.com Resp. Time
    div(class="item githubrepos")
      i(class='bg icon-book')
      div(class="text") github repos
      div(class='maintext')
      div(class='bottomtext')
        i(class='icon-arrow-up')
        span &nbsp;10% today
    div(class="item twitterfollowers")
      i(class='bg icon-twitter')
      div(class="text") twitter followers
      div(class='maintext')
      div(class='bottomtext')
        i(class='icon-arrow-up')
        span &nbsp;5 followers today
    //- div(class="item retweets")
    //-   i(class='bg icon-retweet')
    //-   div(class='text') Retweets
    //-   div(class='maintext') 20
    //- div(class="item") Twitter @replies
    //- div(class="item") Daily Visitors
    //- div(class="item") Currently On Site
    div(class="item resptime")
      i(class='bg icon-time')
      div(class="text") ryanseys.com resp. time
      div(class='maintext')
      div(class='bottomtext')
        i(class='icon-arrow-up')
        span it's up!
    div(class="item ghfollows")
      i(class='bg icon-github')
      div(class="text") github followers
      div(class='maintext')
      div(class='bottomtext') Last updated moments ago



